.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Nav */

.nav {
  text-align: center;
}
nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0 0.75em;
  font-weight: 700;
  line-height: 64px;
}

.switch {
  margin-left: auto;
}

/* Dropdown */

.dropdown {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  overflow: hidden;
}

/* Home */

.quote-content {
  display: grid;
  grid-template-areas: "quote" "msg";
  margin: 5em auto;
  max-width: 60%;
}

.quote-container {
  grid-area: quote;
  display: grid;
  padding: 5em;
  border-radius: 4px;
  justify-items: center;
}

.author {
  font-weight: bold;
}

.home-msg {
  grid-area: msg;
  max-width: 800px;
  margin: auto;
}

/* About */

.about {
  display: grid;
  margin: 2em;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "about-title" "about-msg";
}

.about-title {
  grid-area: about-title;
}

.about-msg {
  grid-area: about-msg;
  margin: 0;
}

/* Resume */

.resume-title {
  margin: auto;
}

.resume-link {
  margin: 0 auto;
  display: flex;
}

.download-svg {
  margin-left: 0.2em;
}

@media (max-width: 480px) {
  .about {
    grid-template-columns: auto;
  }

  .resume-title {
    margin-top: 1em;
  }

}

/* About Skills */

.skills-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2em;
}

.skill-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
}

.skill {
  margin: 0.5em;
  align-self: center;
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

@media (max-width: 480px) {
  .skills-container {
    grid-template-columns: auto;
    margin: auto;
  }

  .skills-title {
    margin-left: 1em;
  }
}

/* About objective */

.objective-container {
  display: grid;
  margin: 2em;
}

/* About interests */

.interests-container {
  display: grid;
  margin: 2em;
}

.interests > div {
  margin: 1em 0;
}

.interests > div > span {
  font-weight: bolder;
}

/* Contact */

.contact {
  display: grid;
  margin: 5em;
  place-content: center;
  justify-items: center;
}

.contact-info {
  display: grid;
  justify-items: center;
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
}

.contact-types {
  margin: 1em;
}

.contact-types > div {
  font-weight: bolder;
}

.social-link {
  color: black;
  font-size: 2em;
  margin: 0.5em;
  cursor: pointer;
}

/* projects */

/* .projects-container-draft {
  display: grid;
  padding: 5% 10% 10% 10%;
  grid-template-rows: 1fr 5fr;
  min-height: 100vh;
  justify-items: center;
} */

.projects-container {
  display: grid;
  padding: 5% 10% 10% 10%;
  grid-template-rows: 1fr 5fr;
  min-height: 80vh;
  justify-items: center;
}

.projects-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr); /* switch to 5 if using mosaic */
  gap: 1em;
}

.project-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3em;

  &.medium {
    font-size: x-large;
    grid-row: span 2;
    grid-column: span 2;
  }
}

.project-title {
  cursor: pointer;
}

.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  background-color: #ff4500;
  border: solid 3px black;
  border-radius: 4px;
  cursor: pointer;
  background-size: cover;
  background-position-y: center;

  &.medium {
    grid-row: span 2;
    grid-column: span 2;
  }

  &.large {
    grid-row: span 3;
    grid-column: span 3;
  }

  &.tall {
    grid-column: 4 / span 2;
    grid-row: 4 / span 3;
  }

  &.wide {
    grid-column: span 3;
    grid-row: span 2;
  }
}

@media (max-width: 480px) {
  .project-title-container {
    margin-left: 0;
  }
  
}

/* Challenges */

.challenge {
  margin-bottom: 1em;
}

.challenge-title {
  font-size: 1.2em;
  font-weight: bold;
}

/* Project Banners */

.banner {
  display: block;
  border-radius: 4px;
  width: 100%;
  padding: 6em;
  cursor: pointer;
  background-size: cover;
  background-position-y: center;
}

.banner-container {
  position: relative;
}

/* dialog */

.dialog { 
  position: absolute;
  bottom: 75px;
  left: 0;
  border: black solid 3px
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: #ff4500 solid 10px;
  border-bottom: #ff4500 solid 10px;
  border-image: repeating-linear-gradient(-75deg, #ff4500, #ff4500 5px, white 5px, white 10px) 30;
}

.dialog-text-container {
  margin: 1em .2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-text {
  font-weight: 800;
  margin: 0;
  display: flex;
  align-items: center;
}

.dialog-actns {
  margin-bottom: 1em;
  display: flex;
  gap: 1em;
}

.dialog-btn, .dialog-link {
  cursor: pointer;
}

/* Link Display */

.link-nav {
  display: block;
}

/* Footer */

footer {
  margin-top: auto;
}

.footer-container {
  display: flex;
  background-color: black;
  color: white;
  padding: 3rem;
  width: 100%;
}

.footer-content {
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
}
