.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Nav */

.nav {
  text-align: center;
}
nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0 0.75em;
  font-weight: 700;
  line-height: 64px;
}

.switch {
  margin-left: auto;
}

/* Home */

.quote-content {
  display: grid;
  grid-template-areas: "quote" "msg";
  margin: 5em auto;
  max-width: 60%;
}

.quote-container {
  grid-area: quote;
  display: grid;
  padding: 5em;
  border-radius: 4px;
  justify-items: center;
}

.author {
  font-weight: bold;
}

.home-msg {
  grid-area: msg;
  max-width: 800px;
  margin: auto;
}

/* About */

.about {
  display: grid;
  margin: 2em;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "about-title about-img" "about-msg about-img";
}

.about-title {
  grid-area: about-title;
}

.about-img {
  grid-area: about-img;
}

.about-msg {
  grid-area: about-msg;
}

/* About Skills */

.skills-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2em;
}

.skill-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
}

.skill {
  margin: .5em;
  align-self: center;
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: .2em;
}

/* About objective */

.objective-container {
  display: grid;
  margin: 2em;
}

/* About interests */

.interests-container {
  display: grid;
  margin: 2em;
}

.interests > div {
  margin: 1em;
}

.interests > div > span {
  font-weight: bolder;
}

/* Contact */

.contact {
  display: grid;
  margin: 5em;
  place-content: center;
  justify-items: center;
}

.contact-info {
  display: grid;
  justify-items: center;
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
}

.contact-types {
  margin: 1em;
}

.contact-types > div {
  font-weight: bolder;
}

.social-link {
  color: black;
  font-size: 2em;
  margin: 0.5em;
  cursor: pointer;
}

/* projects */

.projects-container {
  display: grid;
  padding: 5% 10% 10% 10%;
  grid-template-rows: 1fr 5fr;
  min-height: 100vh;
  justify-items: center;
}

.projects-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}

.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  background-color: #ff4500;
  border: solid 3px black;
  border-radius: 4px;
  cursor: pointer;
  background-size: cover;
  background-position-y: center;

  &.medium {
    grid-row: span 2;
    grid-column: span 2;
  }

  &.large {
    grid-row: span 3;
    grid-column: span 3;
  }

  &.tall {
    grid-column: 4 / span 2;
    grid-row: 4 / span 3;
  }

  &.wide {
    grid-column: span 3;
    grid-row: span 2;
  }
}


/* Challenges */

.challenge {
  margin-bottom: 1em;
}

.challenge-title {
  font-size: 1.2em;
  font-weight: bold;
}

/* Project Banners */

.banner {
  border: 3px black solid;
  border-radius: 4px;
  width: 100%;
  padding: 6em;
  margin-bottom: 5em;
  color: transparent;
  background-color: #ff4500;
  cursor: pointer;
  background-size: cover;
  background-position-y: center;
}

/* Footer */

footer {
  margin-top: auto;
}

.footer-container {
  background-color: black;
  color: white;
  padding: 3rem;
  width: 100%;
}


